@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility animation-delay-none {
    animation-delay: 0s;
}
@utility animation-delay-inherit {
    animation-delay: inherit;
}
@utility animation-delay-initial {
    animation-delay: initial;
}
@utility animation-delay-revert {
    animation-delay: revert;
}
@utility animation-delay-revert-layer {
    animation-delay: revert-layer;
}
@utility animation-delay-unset {
    animation-delay: unset;
}
@utility animation-delay-* {
    animation-delay: --value([*]);
    animation-delay: calc(--value(integer) * 1ms);
}